
@{
    ViewBag.Title = "Quản Lý Album Yêu Thích";
}

<h2>Quản Lý Album Yêu Thích</h2>
<div class="album">
    <img src="https://via.placeholder.com/100" alt="Album 1" />
    <div>Album ca sĩ Đức Phúc</div>
</div>
<div class="album">
    <img src="https://via.placeholder.com/100" alt="Album 2" />
    <div>Album ca sĩ Trịnh Đình Quang</div>
</div>
<div class="album">
    <img src="https://via.placeholder.com/100" alt="Album 3" />
    <div>Album ca sĩ Hồ Quang Hiếu</div>
</div>
